<div class="field">
    <%= form.label :clock_in %>
    <%= form.datetime_select :clock_in %>
  </div>

  <div class="field">
    <%= form.label :clock_out %>
    <%= form.datetime_select :clock_out %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason %>
  </div>